/* You can add global styles to this file, and also import other style files */
body {
  background: #ddd !important;
}
.card {
  margin: 10px !important;
}

.card-header {
  border-bottom: none !important;
}
